body { 
    font-family: sans-serif; 
    margin: 20px; 
    
    background-color: #e0f7fa; 
}


.completed {
    text-decoration: line-through;
    color: gray;
}

li {
    cursor: pointer;
    padding: 8px;
    margin-bottom: 5px;
    background-color: white; 
    border-radius: 4px;
    list-style-type: none;
    max-width: 300px;
}

li:hover { 
    background-color: #f0f0f0; 
}


input, button {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}